mediinfo-grus-shujuzx/HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/mediinfo-vela-bingli/.idea
/.idea
/mediinfo-grus-shujuzx/logs/service/*.log
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QBR_DA_HeBingJLModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QBR_DA_JiBenXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QBR_DA_JiaoChaSYModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QBR_DA_JieZhiXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QBR_DA_KuoZhanXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QBR_DA_XiangSiSYModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QBR_DA_ZhuSuoYCZRZModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QBR_ZD_HeBingGZMXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QBR_ZD_HeBingGZModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QBR_ZD_HeBingQZPZModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QGY_ZD_ShuJuSTMXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QGY_ZD_ShuJuSTSJJModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QGY_ZD_ShuJuSTXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_DiaoYongPZModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_JIBENXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_JieDianSXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_JieDianXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_RuCanXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_ShiTuJDGXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_ShiTuJDMXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_ShiTuJDXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_ShiTuMXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_ShiTuXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_ZiBiHXSLModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_BH_ZiBiHXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_CX_FangAnCXLSModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_CX_FangAnNRModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_CX_FangAnSCModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_CX_FangAnXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_CX_ShiTuMXGXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_CX_ShiTuMXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_CX_ShiTuXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_CX_ZhiBiaoXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_LC_BingRenYLSJModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_RZ_FangWenLCSJModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_SC_ShouCangJMXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_SC_ShouCangJXXModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_ZD_BiHuanJDModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_ZD_BiHuanLCJDModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_ZD_BiHuanLCModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_ZD_ShuJuYLBModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_ZD_ShuJuYZYModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_ZD_YinSiGZSZModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_ZD_YinSiPZModel.java
/mediinfo-grus-shujuzx/src/main/generated/cn/mediinfo/grus/shujuzx/model/QSC_ZD_ZhanShiPZModel.java
/mediinfo-grus-shujuzx/src/test/java/cn/mediinfo/grus/shujuzx/service/FangAnServiceDemo.java
/mediinfo-grus-shujuzx/src/test/java/cn/mediinfo/grus/shujuzx/service/SpringbootJdbcTest.java
